$mainColor: #1857a4;
$contrastColor: rgba(255, 255, 255, 0.877);

$mainFont: 'Helvitica';

body {
  margin: 0;
}

@mixin white-text-blue-bg {
  color: $contrastColor;
  background-color: $mainColor;
}

@mixin blue-text-white-bg {
  color: $mainColor;
  background-color: $contrastColor;
}

.nav {
  font-family: $mainFont;
  display: flex;
  background-color: $mainColor;
  text-decoration: none;

  h1 {
    margin-left: 20px;
    color: $contrastColor;
    font-size: 1.75rem;
  }
}