$mainColor: #6500a8;
$contrastColor: rgba(255, 255, 255, 0.877);

$mainFont: 'Helvetica';

body {
  margin: 0;
}

@mixin white-text-blue-bg {
  color: $contrastColor;
  background-color: $mainColor;
}

@mixin blue-text-white-bg {
  color: $mainColor;
  background-color: $contrastColor;
}

.nav {
  font-family: $mainFont;
  display: flex;
  background-color: $mainColor;
  text-decoration: none;

  h1 {
    margin-left: 20px;
    color: $contrastColor;
    font-size: 1.75rem;
  }
}
.artist {
  font-family: $mainFont;
}

#mainImage {
  width: 400px;
}

.showArtist {
  display: flex;
  font-family: $mainFont;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
}