*{
  box-sizing: border-box;
}

$mainColor: #6500a8;
$contrastColor: rgba(255, 255, 255, 0.877);

$mainFont: 'Helvetica';

body {
  margin: 0;
}

@mixin white-text-blue-bg {
  color: $contrastColor;
  background-color: $mainColor;
}

@mixin blue-text-white-bg {
  color: $mainColor;
  background-color: $contrastColor;
}

.nav {
  @include white-text-blue-bg;
  font-family: $mainFont;
  display: flex;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  h1 {
    margin-left: 20px;
    color: $contrastColor;
    font-size: 1.5rem;
    &:hover {
      @include blue-text-white-bg;
      border-radius: 10px;
    }
  }
}

.artist {
  display: flex;
  font-family: $mainFont;
  padding: 40px;
  flex-wrap: wrap;
}

#mainImage {
  width: 400px;
}

.imageDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  #bodyImages {
  width: 200px;
  }
}

.showArtist {
  display: flex;
  font-family: $mainFont;
  flex-direction: column;
  padding-left: 20px;
  text-align: left;
}

.indexImage {
  max-width: 400px;
  border-style: solid;
  border-width: 5px;
  border-color: $mainColor;
  border-radius: 0 0 40px 0;
}

.artistName {
  @include white-text-blue-bg;
  position: absolute;
  border-radius: 0 0 20px 0;
  padding: 20px;
  margin-top: 0px;
}

.newForm {
  display: block;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  #createInput {
    width: 400px;
    height: 50px;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    font-size: 18px;
    
  }
  #createInputTextArea {
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    font-size: 18px;
    text-decoration: none;
  }
} 
  .submit {
    @include white-text-blue-bg;
    width: 400px;
    height: 50px;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    font-size: 24px;
    &:hover {
      @include blue-text-white-bg;
    }
  }

  



